.slide {
  width: 1060px;
  margin: 0 12px;
  filter: brightness(50%);
}

.slide.active {
  filter: brightness(100%);
}

.slide_image a {
  display: block;
  height: 100%;
}

.slide_image img {
  display: block;
  width: 100%;
  border-radius: 4px;
}

.slide_info {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  position: absolute;
  bottom: 28px;
  left: 34px;
  width: 330px;
  height: 146px;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
}

.slide_info > h2 {
  margin: 20px 20px 0 20px;
  font-size: 20px;
  line-height: 1.5;
}

.slide_info > h3 {
  margin: 0 20px;
  height: 44px;
  font-size: 14px;
  line-height: 1.64;
  font-weight: 500;
  color: #333;
}

.slide_info > .divider {
  display: block;
  height: 1px;
  border: none;
  flex-shrink: 0;
  background-color: #ececec;
}

.slide_info > a {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 6px 0 0 13px;
  padding: 6px 8px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #36f;
  cursor: pointer;
}

.slide_info a > .icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #36f;
  font-size: inherit;
}

@media screen and (max-width: 1199px) {
  .slide {
    margin: 21px 12px;
    padding: 0;
  }

  .slide_image {
    height: 183px;
  }

  .slide_image a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide_info {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
  }

  .slide_info > .divider {
    display: none;
  }

  .slide_info > h2 {
    font-size: 18px;
    line-height: 1;
    margin: 0;
    margin-top: 20px;
  }

  .slide_info > h3 {
    height: fit-content;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.15;
    color: #666;
    margin: 0;
    margin-top: 6px;
  }

  .slide_info a {
    width: 100%;
    height: 40px;
    padding: 6px 8px;
    justify-content: center;
  }
}
